html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    /*background-color: #40678f;*/
    /*background-color: #3b5987;*/
    /*background-color: #2e4673;*/
    background-color: #eeeeee;
}

h1, h2 {
    color: #2e4673;
}

h1.title-text {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: #2e4673;
    text-align: center;
}

hr {
    margin: 1em 0 2em 0;
}

.page {
    margin: 80px auto 300px;
}

#title-icons {
    padding-top: 25px;
    text-align: center;
}

#title-icons {
    display: block;
    margin: auto;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

section {
    display: block;
    height:100%;
    width:100%;
    box-sizing:border-box;
}

.icon-link {
    color: inherit;
}


.about-text {
    padding: 1em 0 0 0;
    color: #2e4673;
}

.about-section {
    padding: 1em 0 3em 0;
}


/* Desktop view */
@media only screen and (min-width: 768px) {
    h1.title-text {
        font-family: 'Lobster', cursive;
        color: #2e4673;
        font-size: 11em;
        text-align: center;
    }

    .about-section {
        padding: 1em 0 4em 0;
    }
}
