body {
    /*background-color: #40678f;*/
    /*background-color: #3b5987;*/
    /*background-color: #2e4673;*/
    background-color: #eeeeee;
}

h1, h2, h4, li {
    color: #2e4673;
}

h1.title-text {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: #2e4673;
    text-align: center;
}

hr {
    margin: 1em 0 2em 0;
    height: 2px;
    border: 0px solid #2e4673;
    border-top-width: 1px;
}

.fa {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.page {
    margin: 80px auto 300px;
}


#title-icons {
    display: block;
    margin: auto;
}

section {
    display: block;
    height:100%;
    width:100%;
    box-sizing:border-box;
}

.icon-link {
    color: inherit;
}


.about-text {
    padding: 1em 0 0 0;
    color: #2e4673;
}

.about-section {
    margin: 20px;
    padding: 1em 0 3em 0;
}

#profile-pic {
    max-width: 60%;
    height: auto;
    margin: auto;
    display: block;
}

.img-circle {
    border-radius: 50%;
}

#skills-list {
    list-style-position: outside;
    padding-left: 1.5em;
}


/* Desktop view */
@media only screen and (min-width: 768px) {
    h1.title-text {
        font-family: 'Lobster', cursive;
        color: #2e4673;
        font-size: 11em;
        text-align: center;
    }

    .about-section {
        padding: 1em 0 4em 0;
        margin-bottom: 50px;
    }

    #profile-pic {
        max-width: 60%;
        height: auto;
        margin-top: 50px;
        float: left;
    }
}
